.piechart-card {
  .Mui-expanded{
    margin: 0 !important;
  }
  .legends-detail {
    .MuiStack-root {
      padding: 0;
    }
  }
}

.dashboard-state {
  .item {
    padding: 20px 0;
    display: flex;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid #919eab1f;
    text-overflow : ellipsis ;
  }
}

.apexcharts-tooltip {
  background-color: var(--palette-background-paper);
}

/*
  xs (extra-small) : 0px ~ 600px
  sm (small) : 600px ~ 960px
  md (medium): 960px ~ 1280px
  lg (large) : 1280px ~ 1920px
  xl (extra-large) : 1920px ~
*/
