.dna-datetime-range-box{
  display: flex;
  align-items: center;
  gap: 10px;
  .datetimebox {
    flex: 1;
  }
}

.service-group-search-button {
  min-width: 20px !important;
  padding: 0 !important;
  .MuiButton-icon {
    margin: 0 8px !important;
  }
}
