.dna-datetime-range-box {
  display: flex;
  align-items: center;
  gap: 10px;

  .datetimebox {
    flex: 1;
  }
}

.service-group-search-button {
  min-width: 20px !important;
  padding: 0 !important;

  .MuiButton-icon {
    margin: 0 8px !important;
  }
}

.menu-edit-tree {
  .block {
    position: relative;
    background: var(--palette-background-paper);
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: move;

    &:hover {
      //background: #eeeeee;
    }

    &.group {
      border-radius: 4px;
      //border-bottom: 1px solid red;
      border: 1px solid var(--palette-divider);

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
      }
    }

    &.page {
      //border-bottom: 1px solid red;
      border-bottom: 1px solid var(--palette-divider);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
    }

    .iconify {
      cursor: pointer;
    }
  }

  .selected {
    &.group .header, &.page {
      color: var(--palette-primary-main);
      font-weight: bold;
    }
  }

  .ghost {
    background: var(--palette-background-neutral);
  }
}

.dna-edit-form {
  .Mui-disabled {
    color: var(--palette-text-primary) !important
  }
  .html-content {
    padding: 0 10px;
    border-radius: var(--shape-borderRadius);
    //border: 1px solid  rgba(var(--palette-grey-500Channel) / 0.2);
    min-height: 200px;
  }

  .file-box {
    padding: 8px 8px 8px 12px;
    gap: 12px;
    display: flex;
    border-radius: var(--shape-borderRadius);
    margin-bottom: 8px;
    align-items: center;
    border: 1px solid  rgba(var(--palette-grey-500Channel) / 0.2);
    cursor: pointer;
  }
}
