.dna-datetime-range-box {
  display: flex;
  align-items: center;
  gap: 10px;

  .datetimebox {
    flex: 1;
  }
}

.service-group-search-button {
  min-width: 20px !important;
  padding: 0 !important;

  .MuiButton-icon {
    margin: 0 8px !important;
  }
}

.menu-edit-tree {
  .block {
    position: relative;
    background: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: move;

    &:hover {
      //background: #eeeeee;
    }

    &.group {
      border-radius: 4px;
      //border-bottom: 1px solid red;
      border: 1px solid var(--palette-divider);

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
      }
    }

    &.page {
      //border-bottom: 1px solid red;
      border-bottom: 1px solid var(--palette-divider);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
    }

    .iconify {
      cursor: pointer;
    }
  }

  .selected {
    background-color: rgba(var(--palette-primary-mainChannel) / 0.08);

    &.group .header, &.page {
      color: var(--palette-primary-main);
      font-weight: bold;
    }
  }

  .ghost {
    background: var(--palette-grey-200);
  }
}

.dna-edit-form {
  .Mui-disabled {
    color: var(--palette-text-primary) !important
  }
}
