/** **************************************
* Fonts: app
*************************************** */
@import '../../node_modules/@fontsource/public-sans/400.css';
@import '../../node_modules/@fontsource/public-sans/500.css';
@import '../../node_modules/@fontsource/public-sans/600.css';
@import '../../node_modules/@fontsource/public-sans/700.css';
@import '../../node_modules/@fontsource/public-sans/800.css';

@import '../../node_modules/@fontsource/barlow/400.css';
@import '../../node_modules/@fontsource/barlow/500.css';
@import '../../node_modules/@fontsource/barlow/600.css';
@import '../../node_modules/@fontsource/barlow/700.css';
@import '../../node_modules/@fontsource/barlow/800.css';

/** **************************************
* Fonts: options
*************************************** */
@import '../../node_modules/@fontsource/dm-sans/400.css';
@import '../../node_modules/@fontsource/dm-sans/500.css';
@import '../../node_modules/@fontsource/dm-sans/600.css';
@import '../../node_modules/@fontsource/dm-sans/700.css';
@import '../../node_modules/@fontsource/dm-sans/800.css';

@import '../../node_modules/@fontsource/inter/400.css';
@import '../../node_modules/@fontsource/inter/500.css';
@import '../../node_modules/@fontsource/inter/600.css';
@import '../../node_modules/@fontsource/inter/700.css';
@import '../../node_modules/@fontsource/inter/800.css';

@import '../../node_modules/@fontsource/nunito-sans/400.css';
@import '../../node_modules/@fontsource/nunito-sans/500.css';
@import '../../node_modules/@fontsource/nunito-sans/600.css';
@import '../../node_modules/@fontsource/nunito-sans/700.css';
@import '../../node_modules/@fontsource/nunito-sans/800.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import '../components/scrollbar/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

// 홈페이지 공통 layout 과 관련된 css global 에 작성

.layout__main__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: var(--layout-dashboard-content-pt);
  padding-bottom: var(--layout-dashboard-content-pb);
}

